{{ include('pages/inc/header.html.twig') }}
	<div class="container">
	<h3>Vue Activite</h3>
	<div class="list-group">
	  <a href="#" class="list-group-item list-group-item-action active">
	  Activite
	    Cras justo odio
	  </a>
	  <p class="list-group-item">{{ activite.nomA }}</p>
	  <p class="list-group-item">{{ activite.type }}</p>
	  <p class="list-group-item">{{ activite.description }}</p>

	</div>
		
	</div>
{{ include('pages/inc/footer.html.twig') }}
